<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425977780015-37slit6b9u0kkl18tdo7akhes2hk5egq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425977780015-37slit6b9u0kkl18tdo7akhes2hk5egq</string>
	<key>API_KEY</key>
	<string>AIzaSyC_29iUSHy2_Pjqr4q4AtNJcwGpSCqt48w</string>
	<key>GCM_SENDER_ID</key>
	<string>425977780015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile</string>
	<key>PROJECT_ID</key>
	<string>covid-19-cd4ec</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-19-cd4ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425977780015:ios:16ade98981ec13448473da</string>
	<key>DATABASE_URL</key>
	<string>https://covid-19-cd4ec.firebaseio.com</string>
</dict>
</plist>